<!doctype html>
<html>
<head>
  <title>Game</title>
  <!-- <link rel="stylesheet" href="style.css"> -->
</head>
<body>
  <h1>This is the game section</h1>
  <form action="/madlib">
    Type in a name: <br><input type="text" name="person" placeholder="Give me a name"><br><br>
    Type in a color: <br><input type="text" name="color"  placeholder="Pick me a color"><br><br>
    Type in a noun: <br><input type="text" name="noun" placeholder="Pick a NOUN"><br><br>
    Type in an adjective: <br><input type="text" name="adj" placeholder="What even is an adj?">

    <br><br><br>
    <input type="submit">
  </form>


</body>
</html>